{% extends "cv/base.html" %}

{% block title %} Nouvelle competence {% endblock%}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div id="competence" class="card rounded-0 shadow w-75">
            
            {% if edit %}
            <div class="card-header rounded-0 text-center bg-primary text-light"><h3>MODIFIER COMPETENCE</h3></div>
            {% else %}
            <div class="card-header rounded-0 text-center bg-primary text-light"><h3>NOUVELLE(S) COMPETENCE(S)</h3></div>
            {% endif %}
            <div class="card-body">
                {% if edit %}
                <form action="{% url 'edit-competence' id=competence.id %}" method="post">
                {% else %}
                
                <form id="competenceForm" method="post">
                {% endif %}
                    {% csrf_token %}
                    <div class="" style="padding: 10px;">
                        <div id="containerCompetence">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="text-primary">Compétence</label>
                                    {% if edit %}
                                    <input name="competence" value="{{competence.competence}}" type="text" class="form-control rounded-0" required placeholder="">
                                    {% else %}
                                    <input name="competence[]"  type="text" class="form-control rounded-0" required placeholder="">
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        {% if not edit %}
                        <div style="display: flex; justify-content: end;" class="mt-3"><button id="plusComp" type="button" class="btn btn-outline-primary rounded-0"><i class="fa-solid fa-plus"></i></button></div>
                        {% endif %}
                        
        
        
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            function afficher(id=''){
                                const valeur = document.getElementById("customRange"+id).value; // reccuperer la valeur du selecteur
                                document.getElementById("valeurAffichee"+id).innerText = valeur;
                            }
        
                            $(document).ready(function () {
                                $("#plusComp").click(function (e) {
                                e.preventDefault()
                                // Récupérer le conteneur et le nombre d'éléments
                                let $container = $("#containerCompetence");
                                let nombreElements = $container.children().length;
        
                                // Créer un nouveau bloc de champs avec la structure HTML
                                let newFields = $(`
                                    <div class="form-group-wrapper">
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="text-primary">Compétence</label>
                                                <input name="competence[]" type="text" class="form-control rounded-0">
                                            </div>
                                        </div>
                                        <button style="margin-bottom: 15px;" type="button" class="btn btn-outline-danger mt-1 rounded-0" onclick="supprimer(this)">Supprimer</button>
                                    </div>
                                `);
        
                                // Ajouter le nouveau bloc de champs au conteneur
                                $container.append(newFields);
        
                                });
                            });
        
        
                            // Fonction pour supprimer un groupe de champs
                            function supprimer(button) {
                                // Trouver le parent div contenant les champs et le bouton
                                const parentDiv = button.parentElement;
        
                                // Supprimer ce div
                                parentDiv.remove();
                            }
        
                        </script>
                    </div>
                    <div style="display: flex; justify-content: center; margin-top: 5px;">
                        <!-- <button style="width: 100px;" class="btn">retour</button> -->
                        {% if  edit %}
                        <button style="width: 200px;" class="btn btn-success" type="submit">Modifier</button>
                        {% else %}
                        
                        <button style="width: 200px;" class="btn btn-success" type="button" id="submitCompetence">Ajouter</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {

            $("#submitCompetence").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#competenceForm").serialize();
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'competence' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    headers: { "X-CSRFToken": csrfToken },
                    success: function (response) {
                        if (response.success) {

                            // Ãfficher alert
                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#competenceForm")[0].reset(); // Réinitialise tous les champs du formulaire

        
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: response.message,
                            });
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });



        })
    </script>
{% endblock %}