{% extends "cv/base.html" %}

{% block title %} Description Profile {% endblock%}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div id="formation" class="card rounded-0 shadow w-75" >
        
        {% if edit %}
        <div class="card-header rounded-0 text-center bg-primary text-light"><h3>MODIFIER FORMATION</h3></div>
        {% else %}
        <div class="card-header rounded-0 text-center bg-primary text-light"><h3>NOUVELLE(S) FORMATION(S)</h3></div>
        {% endif %}
        <div class="card-body">
            {% if edit %}
            <form action="{% url 'edit-formation' id=formation.id %}" method="post">
            {% else %}
            <form id="formationForm" method="post">
            {% endif %}
            
                {% csrf_token %}
                <div class="" style="padding: 10px;">
                    <div id="containerFormation">
                        <div class="row">
                            {% if edit %}
                            <div class="form-group col-3">
                                <label class="text-primary">Periode</label>
                                <input name="periode" type="text" value="{{formation.periode}}" class="form-control rounded-0" placeholder="Ex: 2012-2013">
                            </div>
                            <div class="form-group col-4">
                                <label class="text-primary">Formation</label>
                                <input  name="formation" type="text" value="{{formation.diplome}}" class="form-control rounded-0" placeholder="Ex: Licence en Information">
                            </div>
                            <div class="form-group col-5">
                                <label class="text-primary">Université</label>
                                <input name="etablissement" type="text" value="{{formation.etablissement}}" class="form-control rounded-0" placeholder="Université ou In">
                            </div>
                            {% else %}
                            <div class="form-group col-3">
                                <label class="text-primary">Periode</label>
                                <input name="periode[]" type="text" class="form-control rounded-0" placeholder="Ex: 2012-2013">
                            </div>
                            <div class="form-group col-4">
                                <label class="text-primary">Formation</label>
                                <input  name="formation[]" type="text" class="form-control rounded-0" placeholder="Ex: Licence en Information">
                            </div>
                            <div class="form-group col-5">
                                <label class="text-primary">Université</label>
                                <input name="etablissement[]" type="text" class="form-control rounded-0" placeholder="Université ou In">
                            </div>
                            {% endif %}
                            
                        </div>
                        
                        
                    </div>
                    {% if not edit %}
                    <div style="display: flex; justify-content: end;" class="mt-3"><button onclick="ajouterFormation()" type="button" class="btn btn-outline-primary rounded-0"><i class="fa-solid fa-plus"></i></button></div>
                    {% endif %}
                    <script>
    
                        function ajouterFormation() {
                            // Créer un nouveau bloc de champs de formulaire
                            const newFields = document.createElement('div');
                            newFields.classList.add('form-group-wrapper'); // Optionnel: pour la gestion de styles
    
                            // Ajout de la structure HTML pour les nouveaux champs
                            newFields.innerHTML = `
                                
                                <div class="row mt-3">
                                    <div class="form-group col-3">
                                        <label class="text-primary">Periode</label>
                                        <input name="periode[]" type="text" class="form-control rounded-0" placeholder="Ex: 2012-2013">
                                    </div>
                                    <div class="form-group col-4">
                                        <label class="text-primary">Formation</label>
                                        <input name="formation[]" type="text" class="form-control rounded-0" placeholder="Ex: Licence en Information">
                                    </div>
                                    <div class="form-group col-5">
                                    <label class="text-primary">Université</label>
                                    <input name="etablissement[]" type="text" class="form-control rounded-0" placeholder="Université ou In">
                                </div>
                                </div>
                                
                                <button class="btn btn-outline-danger mt-2 rounded-0" style="margin-bottom: 15px;" type="button" onclick="supprimer(this)">Supprimer</button>
                            `;
    
                            // Ajouter le nouveau bloc de champs au conteneur
                            document.getElementById('containerFormation').appendChild(newFields);
                        }
    
                        // Fonction pour supprimer un groupe de champs
                        function supprimer(button) {
                            // Trouver le parent div contenant les champs et le bouton
                            const parentDiv = button.parentElement;
    
                            // Supprimer ce div
                            parentDiv.remove();
                        }
    
                    </script>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 5px;">
                    {% if  edit %}
                    <button style="width: 200px;" class="btn btn-success" type="submit">Modifier</button>
                    {% else %}
                    <button style="width: 200px;" class="btn btn-success rounded-0" id="submitFormation">Ajouter</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $("#submitFormation").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#formationForm").serialize();
    
                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'formation' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.success) {

                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#formationForm")[0].reset(); // Réinitialise tous les champs du formulaire

                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: response.message,
                            });
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });




    
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {

    })
</script>

{% endblock %}