
{% load static %}
    <style>

        .picture-container {
            position: relative;
            cursor: pointer;
            text-align: center;
            }
        .picture {
            width: 106px;
            height: 106px;
            background-color: #999999;
            border: 4px solid #CCCCCC;
            color: #FFFFFF;
            border-radius: 50%;
            margin: 5px auto;
            overflow: hidden;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }
        .picture:hover {
            border-color: #2ca8ff;
        }
        .picture input[type="file"] {
            cursor: pointer;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .picture-src {
            width: 100%;
        }

    </style>

    <div id="description" class="card rounded-0 shadow">
        <div class="card-header">
            Description
          </div>
        <div class="card-body ">
            <form id="cvForm">
                {% csrf_token %}
                <div class="" style="padding: 5px 20px 20px 20px;">

                    <div class="picture-container">
                        <div class="picture">
                            <img src="{% static 'assets/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title=""/>
                            <input type="file" name="photo" id="wizard-picture">
                        </div>
                        <h6>Ajouter Photo</h6>
                    </div>
                    
                    <div class="form-group mt-3">
                        <label class="text-primary">Poste actuel ou souhaité</label>
                        <input name="titre" id="titre" required type="text" class="form-control rounded-0" placeholder="Votre profession">
                    </div>
                    <div class="form-group mt-2">
                        <label class="text-primary">Profil</label>
                        <textarea class="form-control rounded-0" required name="description" id="description" cols="30" rows="5"></textarea>
                    </div>


                    nnb
                    
                </div>
                <div style="display: flex; justify-content: end; margin-top: 5px;">
                    <button style="width: 100px;" class="btn btn-primary" id="submitDescription">Suivant</button>
                </div>
            </form>
        </div>
    </div>

    <!-- form formation -->
    {% include "utilisateur/profil/templateCv/Forms/formation.html" %}


    <!-- Form Experience Pro -->
    {% include "utilisateur/profil/templateCv/Forms/experiencePro.html" %}


    <!-- Form Competence -->
    {% include "utilisateur/profil/templateCv/Forms/competence.html" %}


    <!-- Form Langue -->
    {% include "utilisateur/profil/templateCv/Forms/langue.html" %}


    <!-- Form Loisirs -->
    {% include "utilisateur/profil/templateCv/Forms/loisirs.html" %}







    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $("#submitDescription").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#cvForm").serialize();
    
                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'description' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.success) {

                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#cvForm")[0].reset(); // Réinitialise tous les champs du formulaire
                            $("#wizardPicturePreview").attr("src", "{% static 'assets/img/default-avatar.png' %}")

                            
                            $("#description").hide(); 
                            // Afficher le formulaire suivant ou effectuer une autre action
                            $("#formation").show(); // Masquer le formulaire actuel
                            // Ici, vous pouvez afficher un autre formulaire
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: 'Echec',
                            });
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });

            // Soumettre formation
            $("#submitFormation").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#formationForm").serialize();
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'formation' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    headers: { "X-CSRFToken": csrfToken },
                    success: function (response) {
                        if (response.success) {
                            // alert(response.message); // Message de succès
                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#formationForm")[0].reset(); // Réinitialise tous les champs du formulaire

                            $("#formation").hide(); 
                            // Afficher le formulaire suivant ou effectuer une autre action
                            $("#expPro").show(); // Masquer le formulaire actuel
                            // Ici, vous pouvez afficher un autre formulaire
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: response.message,
                                });
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });

            // soumettre experience professionnelle
            $("#submitExpPro").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#expProForm").serialize();
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'experience_pro' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    headers: { "X-CSRFToken": csrfToken },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            $("#expProForm")[0].reset(); // Réinitialise tous les champs du formulaire

                            $("#expPro").hide(); 
                            // Afficher le formulaire suivant ou effectuer une autre action
                            $("#competence").show(); // Masquer le formulaire actuel
        
                        } else {
                            alert(response.message); // Message d'erreur
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });


            // soumettre competence
            $("#submitCompetence").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#competenceForm").serialize();
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'competence' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    headers: { "X-CSRFToken": csrfToken },
                    success: function (response) {
                        if (response.success) {

                            // Ãfficher alert
                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#competenceForm")[0].reset(); // Réinitialise tous les champs du formulaire

                            $("#competence").hide(); 
                            // Afficher le formulaire suivant ou effectuer une autre action
                            $("#langue").show(); // Masquer le formulaire actuel
        
                        } else {
                            alert(response.message); // Message d'erreur
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });


            // soumettre langue
            $("#submitLangue").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#langueForm").serialize();
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'langue' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    headers: { "X-CSRFToken": csrfToken },
                    success: function (response) {
                        if (response.success) {
                            // Ãfficher alert
                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            
                            $("#langueForm")[0].reset(); // Réinitialise tous les champs du formulaire

                            $("#langue").hide(); 
                            // Afficher le formulaire suivant ou effectuer une autre action
                            $("#loisirs").show(); // Masquer le formulaire actuel
        
                        } else {
                            alert(response.message); // Message d'erreur
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });


            // soumettre Loisirs
            $("#submitLangue").click(function (e) {
                e.preventDefault(); // Empêche le rechargement de la page
                
                // Récupérer les données du formulaire
                let formData = $("#langueForm").serialize();
                let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Effectuer une requête AJAX
                $.ajax({
                    url: "{% url 'loisirs' %}", // Remplacez par l'URL de votre vue Django
                    type: "POST",
                    data: formData,
                    headers: { "X-CSRFToken": csrfToken },
                    success: function (response) {
                        if (response.success) {
                            // Ãfficher alert
                            Swal.fire({
                                position: "top",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#langueForm")[0].reset(); // Réinitialise tous les champs du formulaire

                            $("#langue").hide(); 
                            // Afficher le formulaire suivant ou effectuer une autre action
                            $("#loisirs").show(); // Masquer le formulaire actuel
        
                        } else {
                            alert(response.message); // Message d'erreur
                        }
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de l'envoi du formulaire.");
                    }
                });
            });









        });
    </script>
    